extends layout

block content
  div.top
  h1 Enter the URL you would like to test
  form.form-horizontal(method="post", id="scoreForm")
    div.form-group
      label(class="col-xs-4 control-label") URL
      div(class="col-xs-4")
        input.span3(class="form-control",id="link", type="text", name="link", placeholder="Enter the URL")
    div.form-group
      div(class="col-xs-offset-4 col-xs-4")
        input.btn(type="submit", value="Submit", class="btn btn-default")